.body {
    margin: 80px;
    padding: 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid royalblue;
}

.slides {
    width: 500px;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 500px;
    transition: 2s;
    /*transition: 2s opacity ease-in-out*/
}

.slide img {
    width: 500px;
    height: 300px;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 260px;
    z-index: 1;
}

.navigation-auto div {
    border: 2px solid royalblue;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: white;
    transform: scale(1.8);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: white;
    transform: scale(1.8);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: white;
    transform: scale(1.8);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: white;
    transform: scale(1.8);
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: white;
    transform: scale(1.8);
}

.navigation-manual {
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.manual-btn {
    border: 2px solid royalblue;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    margin: 5px;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: royalblue;
    transform: scale(1.8);
}

#radio1:checked~.first {
    margin-left: 0px;
}

#radio2:checked~.first {
    margin-left: -500px;
}

#radio3:checked~.first {
    margin-left: -1000px;
}

#radio4:checked~.first {
    margin-left: -1500px;
}

#radio5:checked~.first {
    margin-left: -2000px;
}